---
---

@import "{{ site.theme }}";
/* Style the links inside the navigation bar */
.tab {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.active {
    background-color: #000000;
    color: white;
}

