<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<link rel="stylesheet" href="https://fhopp.github.io/css/academicons.min.css"/>


  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          
          <div class="image-cropper">
             <div class="rounded"></div>
          </div>

            <h2 id="project_title">{{ site.title | default: site.github.repository_name }} </h2>

         
          <div class="topnav">
            <a   href="https://fhopp.github.io">About</a>
            <a   href="https://fhopp.github.io/projects">Current Research</a>
            <a   href="https://fhopp.github.io/cv">CV</a>
            <a   href="https://fhopp.github.io/publications">Publications</a>
            <a   href="https://fhopp.github.io/teaching">Teaching</a>
            <a   href="https://fhopp.github.io/tools">Tools/Resources</a>
         </div> 

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p> <a target="_blank" href="http://www.medianeuroscience.org/">Media Neuroscience Lab</a> <a href="https://twitter.com/freddy_hopp?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @freddy_hopp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p> 
        <p> <a target="_blank" href="http://ica-cm.org/">ICA Computational Methods</a> <i class="ai ai-google-scholar-square ai-fw"></i> <a href="https://scholar.google.com/citations?user=JHcPqTAAAAAJ&hl=en"> Google Scholar <a/></p>
        <p> <a target="_blank" href="http://csab.commscience.org/">ICA Communication Science and Biology</a> </p>
        <p class="copyright"> &copy {{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      </footer> 
    </div>
  </body>
</html>
